// Colors
$black: #000000;
$black-01: rgba(0, 0, 0, 0.1);
$white: #FFFFFF;
$white-400: #FDFDFD;
$white-300: #F8F9FA;
$gray: #6C757D;
$gray-400: #E0E0E0;
$gray-300: #E9ECEF;
$blue: #0D6EFD;
$red: #DC3545;


// fonts
$basic-font: 'Montserrat', 'Arial', sans-serif;
$root-font-size: 14px;
$root-line-height: 1.2;

// offset
$offet-app: 40px;
$offset-header: 35px;

// height
$height-header: 40px;